<h1>Bienvenido/a a la Ecommerce Web:</h1>
<h3>Por favor, logueate para poder comprar</h3>
<br />

<form action="/api/login" method="post">
  <span>Email:</span>
  <input type="text" name="email" value="" placeholder="Jacinto@gmail.com" />
  <span>Password:</span>
  <input type="password" name="password" value="" placeholder="P@sSW0rD" />
  <button value="sumbit">Loguearse</button>
  <a href="http://localhost:8080/api/github">GitHub Login</a>
  <a href="http://localhost:8080/sendResetPassword">¿Olvidaste tu contraseña?</a>
</form>
<br />
<a href="http://localhost:8080/signup">Registrate!</a>
<br />
<br />
<a href="http://localhost:8080/products">Volver a productos</a>