<h1>¿Te haz olvidado de la contraseña?</h1>
<h3>Escribe tu email, y te enviaremos uno para restablecerla</h3>
<br />

<form action="/mail/resetPassword" method="post">
  <span>Email:</span>
  <input type="text" name="email" value="" placeholder="Jacinto@gmail.com" />
  <button value="sumbit">Enviar E-Mail</button>
</form>
<br />
<a href="http://localhost:8080/signup">Registrate!</a>
<br />
<br />
<a href="http://localhost:8080/products">Volver a productos</a>